
.container {
  width: 900px;
  margin: auto;
}

nav {
	display: flex;
	justify-content: space-between;
	margin-left: 20px;
	margin-right: 20px;
}
nav ul {
	display: flex;
	justify-content: space-around;
}

li {
	margin-right: 20px;
	padding-right: 10px;
	list-style-type: none;
}

li:hover {
	border-bottom: 4px solid red;
	background-color: yellow;
}

